*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html{
    width: 100%;
    height: 100%;
    // cursor: none;
}
main{
    width: 100%;
    height: 100%;
    background-color: rgba(39, 36, 36, 0.705);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     position: relative;


    h1{
        padding-bottom: 2rem;
        font-weight: 900;
        font-size: 3rem;
        text-transform: uppercase;
        color: rgb(33, 44, 45);
    }
    h2{
        padding-bottom: 2rem;
        font-weight: 900;
        font-size: 2rem;
        text-transform: uppercase;
        color: rgb(33, 44, 45);
        opacity: 0;
    }

    .one{
        width: 80%;
        height: 40%;
    }

    .img{
        position: fixed;
        z-index: 999;
        height: 3rem;
        width: 3rem;
        transform: translate(-50%, -50%);
    }
}