* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes animate {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}


main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    margin: auto;

    section {
        height: 100%;
        // width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: none;
        padding: 2rem;


        figure {
            height: 350px;
            // width: 280px;
            // flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-items: center;
            background: linear-gradient(black) content-box,
                conic-gradient(from var(--rotate), black, orange, black) border-box;
            border: 0px solid rgba(0, 0, 0, 0);
            border-radius: 2rem;
            color: white;
            animation: animate 5s infinite ease-in-out;
            animation-play-state: paused;
            transition: all 0.3s linear;
            // transform: scale(0.9);
            cursor: pointer;


            img {
                height: 200px;
                width: 200px;
                object-fit: cover;
                border-radius: 2rem;
                padding-bottom: 1rem;
            }

            p {
                width: 200px;
            }

            h2 {
                text-transform: uppercase;
                padding-bottom: 1rem;
            }
        }

        figure:hover {
            box-shadow: 0px 0px 90px orange;
            border-width: 5px;
            color: orange;
            flex-grow:0;
            text-shadow: 0px 0px 10px orange;
            animation-play-state: running;
        }
    }
}