* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: none;
}

main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 200%;
    width: 100%;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    overflow: auto;

    .bat {
        height: 50px;
        width: 50px;
        position: fixed;
        transform: translate(-50%, -50%);
    }

    .card {
        height: 500px;
        width: 330px;
        border: 3px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        background-color: rgb(195, 191, 191);
        text-align: center;
        margin: 1rem;


        img {
            height: 190px;
            width: 190px;
            border-radius: 50%;
        }

        h1{
            word-wrap: none;
            text-transform: uppercase
        }

        h2{
            color: brown;
            word-wrap: none;
            text-transform: uppercase
        }

        h3{
            word-wrap: none;
            width: 90%;
        }
    }
}