* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

main {
    width: 100%;
    height: 100%;
    position: relative;


    section.top {
        width: 100%;
        height: 96%;
        background-image: url(./img-icons/main-bg.avif);
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;

        .topaction {
            width: 13%;
            height: 47%;
            border-radius: 1rem;
            background-color: #24262bf5;
            position: absolute;
            display: none;


            ul {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding: 1rem;
                list-style-type: none;

                li {
                    padding: 0.1rem;
                }

                li:hover {
                    background-color: rgb(81, 80, 80);
                    border-radius: 0.5rem;
                }
            }
        }

        .startaction {
            width: 50%;
            height: 90%;
            position: absolute;
            bottom: 6%;
            left: 25%;
            // display: none;
            display: flex;
            gap: 1rem;

            .left {
                width: 75%;
                height: 100%;
                background-color: rgba(65, 64, 64, 0.774);
                position: relative;
                border-radius: 0.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;


                .tp{
                    height: 2rem;
                    width: 90%;
                    background-color: #1D2128;
                    margin-top:3rem;
                    border: 1px solid gray;
                    border-radius: 1rem;
                    padding-inline: 1rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    input{
                        background-color: #1D2128;
                        color: white;
                        width: 80%;
            
                    }
                }

                .bott{
                    position: absolute;
                    bottom: 0;
                    width: 98.8%;
                    background-color:  #1D2128;
                    height: 10%;
                    margin: 0.2rem;
                    border-radius: 0.5rem;
                    padding-inline: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    img{
                        height: 3rem;
                        width: 6rem;
                        object-fit: cover;
                    }
                }
            }

            .right {
                width: 25%;
                height: 100%;
                background-color:rgba(65, 64, 64, 0.774);
            }
        }
    }

    section.bottom {
        width: 100%;
        padding: 0.2rem;
        background-color: #24262b;
        position: absolute;
        bottom: 0%;
        display: flex;
        align-items: center;
        justify-content: center;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            width: 100%;

            .first {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 3.1rem;
                    height: 3.1rem;
                }

                img:hover {
                    background-color: rgba(51, 50, 50, 0.913);
                }
            }



            .second {
                width: 18%;
                border-radius: 3rem;
                background-color: rgb(65, 69, 72);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.6rem;

                h1 {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }

            .third {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.6rem;

                img {
                    width: 2.2rem;
                    height: 2.2rem;
                    object-fit: cover;
                }

                .three {
                    width: 2.6rem;
                    height: 2.6rem;
                }

                .two {
                    width: 2.6rem;
                    height: 2.6rem;
                }

                img:hover {
                    background-color: rgba(51, 50, 50, 0.913);
                }
            }
        }
    }
}