* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

main {
    width: 100%;
    height: 100%;
    position: relative;


    section.top {
        width: 100%;
        height: 96%;
        background-image: url(./img-icons/main-bg.avif);
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;

        .topaction{
            width: 13%;
            height: 46%;
            border-radius: 1rem;
            background-color: #545050;
            position: absolute;
            display: none;
   
            
            ul{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding: 1rem;
                list-style-type: none;
            }
        }

        .startaction{
            width: 50%;
            height: 90%;
            background-color: rgba(27, 26, 26, 0.578);
            position: absolute;
            bottom: 6%;
            left: 25%;
            padding: 2rem;
            display: flex;
            gap: 1rem;
            display: none;

            .left{
                width: 55%;
                height: 100%;
                color: red;
            }
            .right{
                width: 40%;
                height: 100%;
                color: red;
            }
        }
    }

    section.bottom {
        width: 100%;
        padding: 0.2rem;
        background-color: #24262b;
        position: absolute;
        bottom: 0%;
        display: flex;
        align-items: center;
        justify-content: center;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            width: 100%;

            .first {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 3.1rem;
                    height: 3.1rem;
                }
            }

            .second {
                width: 18%;
                border-radius: 3rem;
                background-color: rgb(65, 69, 72);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.6rem;

                h1 {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }

            .third {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                img {
                    width: 2rem;
                    height: 2rem;
                    object-fit: cover;
                }

                .three {
                    width: 2.6rem;
                    height: 2.6rem;
                }

                .two {
                    width: 2.6rem;
                    height: 2.6rem;
                }
            }
        }
    }
}