* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}
main section.top {
  width: 100%;
  height: 96%;
  background-image: url(./img-icons/main-bg.avif);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
main section.top .topaction {
  width: 13%;
  height: 47%;
  border-radius: 1rem;
  background-color: rgba(36, 38, 43, 0.9607843137);
  position: absolute;
  display: none;
}
main section.top .topaction ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  list-style-type: none;
}
main section.top .topaction ul li {
  padding: 0.1rem;
}
main section.top .topaction ul li:hover {
  background-color: rgb(81, 80, 80);
  border-radius: 0.5rem;
}
main section.top .startaction {
  width: 50%;
  height: 90%;
  position: absolute;
  bottom: 6%;
  left: 25%;
  display: flex;
  gap: 1rem;
}
main section.top .startaction .left {
  width: 75%;
  height: 100%;
  background-color: rgba(65, 64, 64, 0.774);
  position: relative;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.top .startaction .left .tp {
  height: 2rem;
  width: 90%;
  background-color: #1D2128;
  margin-top: 3rem;
  border: 1px solid gray;
  border-radius: 1rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
main section.top .startaction .left .tp input {
  background-color: #1D2128;
  color: white;
  width: 80%;
}
main section.top .startaction .left .bott {
  position: absolute;
  bottom: 0;
  width: 98.8%;
  background-color: #1D2128;
  height: 10%;
  margin: 0.2rem;
  border-radius: 0.5rem;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section.top .startaction .left .bott img {
  height: 3rem;
  width: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.top .startaction .right {
  width: 25%;
  height: 100%;
  background-color: rgba(65, 64, 64, 0.774);
}
main section.bottom {
  width: 100%;
  padding: 0.2rem;
  background-color: #24262b;
  position: absolute;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section.bottom .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
main section.bottom .container .first {
  display: flex;
  align-items: center;
  justify-content: center;
}
main section.bottom .container .first img {
  width: 3.1rem;
  height: 3.1rem;
}
main section.bottom .container .first img:hover {
  background-color: rgba(51, 50, 50, 0.913);
}
main section.bottom .container .second {
  width: 18%;
  border-radius: 3rem;
  background-color: rgb(65, 69, 72);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}
main section.bottom .container .second h1 {
  font-size: 1rem;
  font-weight: 600;
}
main section.bottom .container .third {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
main section.bottom .container .third img {
  width: 2.2rem;
  height: 2.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.bottom .container .third .three {
  width: 2.6rem;
  height: 2.6rem;
}
main section.bottom .container .third .two {
  width: 2.6rem;
  height: 2.6rem;
}
main section.bottom .container .third img:hover {
  background-color: rgba(51, 50, 50, 0.913);
}/*# sourceMappingURL=style.css.map */