* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    background-image: url(./section\ bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    section {
        background-image: url(./super\ car.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
        width: 500px;
        border-radius: 1.5rem;
        padding: 4rem;

        .outer {
            background-color: rgb(255, 255, 255);
            height: 1rem;

            .inner {
                background-color: rgb(12, 206, 5);
                height: 1rem;
                width: 0%;
            }
        }

        .text {
            display: flex;
            justify-content: space-between;
            padding: 1.6rem;
            color: #FDC686;


            button {
                padding: 1rem 1rem;
                font-weight: 600;
                font-size: 1rem;
                border-radius: 1rem;
                border: none;
                background-color: #F48F03;
                color: rgb(191, 12, 12);
            }

            button:active {
                transform: scale(0.95);
                background-color: rgb(191, 12, 12);
            }

            h1 {
                font-weight: 700;
                font-size: 2.5rem;
            }
        }
    }
}