* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;


    section.card {
        position: relative;
        overflow: hidden;
        background-color: white;
        height: 350px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        object-fit: cover;

        .img {
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        img {
            height: 250px;
            width: 200px;
            border-radius: 1rem;
            text-align: center;
        }

        .two {
            position: absolute;
            height: 80px;
            width: 80px;
            opacity: 0;
            transform: translate(0%, 0%) scale(0) rotate(-60deg);
            transition: all ease 0.4s;
        }

        h1 {
            color: rgba(249, 115, 6, 0.779);
        }

    }
}