@mixin flex($gap){
    display: grid;
    flex-direction: column;
    gap: $gap;
    justify-content:center ;
    align-items:center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    width: 100%;
    background-color: black;
    @include flex(4rem);
    padding: 10.9rem 13.5rem;
    justify-items: center;
    grid-template-areas: "one two"
                        "three four";
    
    section.first{
        background-color: gray;
        width: 30%;
        padding: 2rem 7rem;
        border: 2px solid rgb(161, 158, 158);
        border-radius: 2rem;
        @include flex(0);
        grid-area: one;

        h1{
            padding: 3rem 2rem;
        }
    }
    section.second{
         background-color: gray;
        width: 30%;
        padding: 2rem 7rem;
        border: 2px solid rgb(161, 158, 158);
        border-radius: 2rem;
        @include flex(0);
        grid-area: two;

        h1{
            padding: 3rem 2rem;
        }
    }
    section.third{
        width: 30%;
        padding: 0rem 1.5rem;
        border-radius: 2rem;
        @include flex(0);
        grid-area: three;

        button{
            padding: 1.5rem 3rem;
            background-color: gray;
            border-radius: 2rem;
            border: 2px solid rgb(174, 170, 170);
            font-size: larger;
        }
    }
    section.fifth{
        width: 30%;
        padding: 0rem 1.5rem;
        border-radius: 2rem;
        @include flex(0);
        grid-area: four;

        button{
            padding: 1.5rem 3rem;
            background-color: gray;
            border-radius: 2rem;
            border: 2px solid rgb(174, 170, 170);
            font-size: larger;
        }
    }
}